{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="bg-white text-center" >
    <h1>LISTADO DE ALUMNOS</h1>
    <p>Listado alumnos Listado cursos</p>

    </div>



<div class="container">

        <table class="table table-dark table-striped">
        <thead>
            <tr>
              <th scope="col">Rut</th>
              <th scope="col">Correo</th>
              <th scope="col">Nombre</th>
              <th scope="col">Asistencia</th>
              <th scope="col">Contraseña</th>

                {% if user.is_superuser %}
              <th scope="col">Editar/Eliminar</th>
                {% endif %}
            </tr>
          </thead>
          <tbody>

    {% for registro in listaAlumnos %}

            <tr>
              <th> {{ registro.rut }}</th>
              <td> {{ registro.correo }} </td>
              <td>{{ registro.nombre }}</td>
              <td>{{ registro.asistencia}}</td>
              <td>{{ registro.contraseña }}</td>

                {% if user.is_superuser %}
              <td> <a class="btn btn-primary btn-sm" href="{% url 'editarAlumnos' registro.rut %}">Editar Alumno</a> </td>
              <td> <a class="btn btn-danger btn-sm" href="{% url 'eliminarAlumnos' registro.rut %}">Eliminar Alumno</a> </td>
                {% endif %}


            </tr>

    {% endfor %}

          </tbody>
        </table>

{% if user.is_superuser %}
<a class="btn btn-block" href="{% url 'agregarAlumnos' %}">Angregar Alumno</a>
{% endif %}



</div>
{% endblock %}
