{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="bg-white text-center" >
    <h1>LISTADO DE ALUMNOS</h1>
    <p>Ejemplo de listado alumnos</p>

    </div>



<div class="container">

        <table class="table table-dark table-striped">
        <thead>
            <tr>
              <th scope="col">Correo</th>
              <th scope="col">Nombre</th>
              <th scope="col">Notas</th>
              <th scope="col">Asistencia</th>
              <th scope="col">Editar/Eliminar</th>
            </tr>
          </thead>
          <tbody>

    {% for registro in listaAlumnos %}

            <tr>
              <th> {{ registro.correo }}</th>
              <td> {{ registro.nombre }} </td>
              <td>{{ registro.notas }}</td>
              <td>{{ registro.asistencia}}</td>
              <td>{{ registro.contraseña }}</td>
            </tr>

    {% endfor %}

          </tbody>


        </table>

{% endblock %}
</div>